#section-about {

  h1,
  h2,
  h3,
  p {
    color: var(--seasalt);
  }

  .left {
    display: flex;
    justify-content: right;
  }

  .section_about__author_image_container {
    display: flex;
    position: relative;
    height: 250px;
    width: 250px;
    margin-right:6rem;
  }

  .section_about__author_image_container:hover {
    .section_about__author_image {
      opacity: 0;
    }
    .section_about__author_image_goofy {
      opacity: 1;
    }
  }
  .section_about__author_image {
    background-image: url('/images/author2.jpg');
  }
  .section_about__author_image_goofy {
    background-image: url('/images/author_goofy.png');
    opacity: 0;
    filter: grayscale(50%)
  }
  .section_about__author_image,
  .section_about__author_image_goofy {
    position: absolute;
    right: 0;
    top: auto;
    bottom: auto;
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
    }
  }

  & {
    background-color: #161616;
    background-image: url("/images/axiom-pattern.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Large screens (lg) */
@media (max-width: 1024px) {
  /* Styles for screens 1024px and larger */
  #section-about {
    h1 {
      font-size:2em;
    }

    .section_about__author_image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 25px;
      margin-right:0;
      margin-bottom:25px;
    }

    .section_about__author_image,
    .section_about__author_image_goofy {
      // position: relative;
      margin: 0 auto;
    }

    .info-container {
      padding:0 25px;
      text-align: center;
    }
  }
}