#section-powered-by {
  background-color: var(--seasalt);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  h1 {
    color: var(--jet);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .logo-item {
    height: 100px;
    background-size: auto 75px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(2px 2px 2px #222);

    &:hover {
      transform: scale(1.1);
    }
  }

  .logo-item.nodejs {
    background-size: auto 90px;
    position: relative;
    top: 10px;
  }

  .logo-item.typescript {
    background-size: auto 50px;
  }

  .logo-item.express {
    background-size: auto 90px;
  }

  .core-features-container {
    li {
      margin-bottom: 15px;
    }

    li p {
      font-size: 12px;
    }
  }
}

/* Large screens (lg) */
@media (max-width: 1024px) {
  /* Styles for screens 1024px and larger */


  #section-powered-by {
    .core-features-container {
      text-align: center;

      ul {
        list-style-type: none;
      }
    }
  }

  #section-about {
    .author-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 25px;
    }

    .author-image {
      position: relative;
      margin: 0 auto;
    }

    .info-container {
      text-align: center;
    }
  }

  #section-documentation {
    .docs-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
    }
  }

}