
#header_container.header_developer_blog {
    height: fit-content;
    display:flex;
    flex-direction:row;
    text-align:center;
    position:sticky;
    top:0;
    z-index:1000;
    
    #header_container__logo_text {
        font-size:10px;
        padding:0;
    }
    #header_container__logo_subtext {
        font-size:14px;
        padding:0 25px;
        line-height:10px;
    }
    #header_container__buttons {
        padding:0;
        position:relative;
        top:-3px;
    }
}

.blog_theme {
    background-color: #323839;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    position:relative;
    
    h1 {
        font-size:2em;
    }
    h2 {
        font-size:1.5em;
    }
    h3 {
        font-size:1.2em;
    }
    p, h1, h2, h3, h4 {
        color:var(--seasalt);
    }
    a {
        color:#b2d4ff;
    }
}
.blog_preview {    
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.blog_preview:not(:last-child) {
    padding-bottom:25px;
}
.blog_preview__image {
    height:500px;
    border-radius:15px;
    margin:25px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blog_preview__author {
    display:flex;
    line-height:35px;
}
.blog_preview_author__image {
    height:35px;
    width:35px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.blog_preview__author__name,
.blog_preview__author__posted_by{
     padding:0 5px;   
}
.blog_preview__author__posted_by {
    margin-left:10px;
}

.blog_posts_container h1 {
    font-size:3em;
}
.blog_posts_container h2 {
    font-size:1.5em;
}
.blog_posts_container__divider {
    margin: 25px 0;
    height: 1px;
    border: 1px solid #313131;
}
.blog_posts_container__content {
    & {
        word-break: break-alll;
        font-weight:400;
        line-height:42px;
    }
    h1 {
        font-size:1.5em;
    }
    h2 {
        font-size:1.3em;
    }
    h3 {
        font-size:1.2em;
    }
    h1,h2,h3,h4 {
        padding:15px 0;
    }
    p {
        padding:10px 0;
        font-size:20px;
    }
    ol, ul {
        list-style: disc;
        padding-left:35px;
    }
}
.blog_posts_container__image {
    height:300px;
    border-radius:5px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    margin:25px 0;
}
.blog_posts_container__author_container {
    line-height:35px;
    margin-top:25px;
}
.blog_posts_container__author_image {
    height:35px;
    width:35px;
    border-radius:50%;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}
.blog_posts_container__author_name {
    margin-left:15px;
}
.blog_posts_container__author_name,
.blog_preview__author__updated_at  {
    display:inline-block;
}

@media (max-width: 1024px) {

    #header_container.header_developer_blog {
        flex-direction:column;
    
        #header_container__logo_text {
            padding:10px 0;
        }
        #header_container__logo_subtext {
            padding:10px 0;
        }
        #header_container__buttons {
            padding-top:10px;
        }
    }
}