@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seasalt: #fafafaff;
  // --alice-blue: #e3f2fdff;
  // --indian-red: #db5461ff;
  // --dim-gray: #686963ff;
  // --cambridge-blue: #8aa29eff;

  // --yinmn-blue: #3d5a80ff;
  // --powder-blue: #98c1d9ff;
  // --light-cyan: #e0fbfcff;
  // --burnt-sienna: #ee6c4dff;
  --burnt-red: rgb(238, 77, 77);
  // --gunmetal: #293241ff;

  --jet: #3c3744ff;
  --duke-blue: #090c9bff;
  --true-blue: #3066beff;
  --powder-blue: #b4c5e4ff;
  --ivory: #fbfff1ff;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--jet);
}

.color-seasalt {
  color: var(--seasalt);
}

.color-alice-blue {
  color: var(--alice-blue);
}

.color-indian-red {
  color: var(--indian-red);
}

.color-dim-gray {
  color: var(--dim-gray);
}

.color-cambridge-blue {
  color: var(--cambridge-blue);
}

.bg-seasalt {
  background-color: var(--seasalt);
}

.bg-alice-blue {
  background-color: var(--alice-blue);
}

.bg-indian-red {
  background-color: var(--indian-red);
}

.bg-dim-gray {
  background-color: var(--dim-gray);
}

.bg-cambridge-blue {
  background-color: var(--cambridge-blue);
}

html,
body {
  margin: 0;
  padding: 0;
}


#root {
  height: 100%;
}

.divider {
  height: 1px;
  margin: 25px 0;
  background-color: #22222245;
  width: 100%;
}

header {
  width: 100%;
  height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--burnt-red);

  h1,
  p {
    color: var(--seasalt);
  }

  #header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
      margin: 0 10px;
      border: none;
      outline: none;
    }
  }
}

#header-down {
  position: absolute;
  bottom: 5vh;

  & svg {
    width: auto;
    height: 50px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.abstract-lines {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  & svg {
    height: 100%;
    width: 100%;
  }
}

#section-powered-by {
  background-color: var(--seasalt);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  h1 {
    color: var(--jet);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .logo-item {
    height: 100px;
    background-size: auto 75px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(2px 2px 2px #222);

    &:hover {
      transform: scale(1.1);
    }
  }

  .logo-item.nodejs {
    background-size: auto 90px;
    position: relative;
    top: 10px;
  }

  .logo-item.typescript {
    background-size: auto 50px;
  }

  .logo-item.express {
    background-size: auto 90px;
  }

  .core-features-container {
    li {
      margin-bottom: 15px;
    }

    li p {
      font-size: 12px;
    }
  }
}

#section-documentation {
  background-color: var(--seasalt);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;


  &.sidebar-fixed {
    .docs-list-container {
      position: relative;

      .parent-list {
        position: sticky;
        top: 1rem;
      }
    }
  }

  .divider {
    width: 100%;
  }

  p, li {
    white-space: pre-line;
  }
  p {
    padding: 5px 0;
  }

  h1.title {
    font-size: 40px;
    padding-bottom: 15px;
  }

  h2.title {
    font-size: 30px;
  }

  .title {
    & a {
      color: var(--jet);
    }

    &.title-child {
      padding: 15px 0;
    }
  }


  .docs-container .divider {
    width: 100%;
    margin: 35px auto;
  }

  .docs-list-container {
    a {
      color: #405d96;
    }

    .parent-list {
      width: 250px;
    }

    .parent-list>li>a {
      font-size: 1.2em;
    }

    .parent-list>li:not(:last-child) {
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #405d9642;
    }

    .sub-list {
      margin-left: 15px;

      a {
        color: #537ac7;
      }
    }

    .list-item-icon {
      padding:0;
      border: none;
      outline: none;
      display:inline-block;
      position: relative;
      top: 5px;
      margin-right: 3px;
      transition: all 0.4s ease-in-out;

      svg {
        color: #8d8d8d;
      }

      &.DefaultIcon svg {
        color:#c8e0ff;
      }

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        transform: scale(1.2);
      }
    }

    .list-item {
      .sub-list {
        display: none;
      }

      &.expanded .sub-list {
        display: block;
      }
    }
  }

  .docs-flex {
    display: flex;
    box-sizing: border-box;
  }

  .docs-list-container,
  .content-container {
    box-sizing: border-box;
  }



  .content-item {
    padding: 0 25px;
    margin-bottom: 25px;
  }

  .content {
    color: #222;
    white-space: nowrap;

    h1,
    h2,
    h3 {
      font-weight: bold;
      margin-top: 10px;
      padding: 10px 0;
    }
  }

  code {
    padding: 5px;
    margin: 7px 0;
    outline: 1px solid #e7e7e7;
    border-radius: 3px;
    display: inline-block;
  }

  .codeBlock {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight:400;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    & div:first-child {
      padding:20px;
    }
    * {
      max-width: 100%;
    }
    span {
      background-color: unset !important;
    }

    code {
      padding: 0;
      outline: unset;
      margin: 0;
    }

    button {
      background-color: #fff;
    }
  }
}

#section-about {

  h1,
  h2,
  h3,
  p {
    color: var(--seasalt);
  }

  background-color: var(--jet);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .left {
    display: flex;
    justify-content: right;
  }

  .author-container {
    display: flex;
    position: relative;
  }

  .author-image {
    position: absolute;
    right: 0;
    top: auto;
    bottom: auto;
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
    }

  }

}



/* Small screens (sm) */
@media (max-width: 640px) {
  /* Styles for screens 640px and larger */
}

/* Medium screens (md) */
@media (max-width: 768px) {
  /* Styles for screens 768px and larger */
}

/* Large screens (lg) */
@media (max-width: 1024px) {
  /* Styles for screens 1024px and larger */


  #section-powered-by {
    .core-features-container {
      text-align: center;

      ul {
        list-style-type: none;
      }
    }
  }

  #section-about {
    .author-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 25px;
    }

    .author-image {
      position: relative;
      margin: 0 auto;
    }

    .info-container {
      text-align: center;
    }
  }

  #section-documentation {
    .docs-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
    }
  }

}

/* Extra large screens (xl) */
@media (max-width: 1280px) {
  /* Styles for screens 1280px and larger */
}

/* 2X large screens (2xl) */
@media (max-width: 1536px) {
  /* Styles for screens 1536px and larger */
}

/* Max width versions for completeness */

/* Small screens and below */
@media (max-width: 639px) {
  /* Styles for screens 639px and smaller */
}

/* Medium screens and below */
@media (max-width: 767px) {
  /* Styles for screens 767px and smaller */
}

/* Large screens and below */
@media (max-width: 1023px) {
  /* Styles for screens 1023px and smaller */
}

/* Extra large screens and below */
@media (max-width: 1279px) {
  /* Styles for screens 1279px and smaller */
}

/* 2X large screens and below */
@media (max-width: 1535px) {
  /* Styles for screens 1535px and smaller */
}