@import 'styles/components/Header.scss';
@import 'styles/components/PoweredBy.scss';
@import 'styles/components/About.scss';
@import 'styles/components/Documentation.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seasalt: #fafafaff;
  --burnt-red: rgb(238, 77, 77);
  --jet: #3c3744ff;
  --duke-blue: #090c9bff;
  --true-blue: #3066beff;
  --powder-blue: #b4c5e4ff;
  --ivory: #fbfff1ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--jet);
}

html,
body {
  margin: 0;
  padding: 0;
}

*:focus,
*:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

#root {
  height: 100%;
}

.divider {
  height: 1px;
  margin: 25px 0;
  background-color: #22222245;
  width: 100%;
}